<!--
    The base template is directly in the templates directory.To keep the others organized, the templates for a blueprint
     will be placed in a directory with the same name as the blueprint.
-->
<!--
    % extends 'base.html' %: tells Jinja that this template should replace the blocks from the base template.
-->
{% extends 'base.html' %}

<!--
    All the rendered content must appear inside % block % tags that override blocks from the base template.
-->
{% block header %}
    <h2>{% block title%}Edit {{todo.Task}}{% endblock %}</h2>
{% endblock %}

{% block content %}
    <!--
        The pattern {{ request.form['task'] or todo['task'] }} is used to choose what data appears in the form.
        When the form hasn’t been submitted (and the request.form has empty data), the original todo data appears,
         but if invalid form data was posted is needed to display that so the user can fix the error,
         so request.form is used instead.
        request is another variable that’s automatically available in templates.
     -->
    <form class="d-flex p-2 flex-column" method="post">
        <div class="form-group">
            <label for="task">Task to do</label>
            <input id="task" name="task" value="{{ request.form['task'] or todo['task'] }}" maxlength="150" required type="text">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" maxlength="1000" required rows="6">{{ request.form['description']  or todo['description'] }}</textarea>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox"
                       class="form-check-input"
                       {% if todo['completed'] == 1 %} checked {% endif %}>
                Completed
            </label>
        </div>
        <div class="form-actions">
            <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#confirmModal">Delete</button>
            <button type="submit" class="btn btn-primary btn-lg ml-1">Save</button>
        </div>
    </form>
    <!-- Modal for delete -->
    <form id="confirmModal" action="{{ url_for('todo.delete', id=todo['id']) }}" method="post"
          class="modal" tabindex="-1" role="dialog" aria-labelledby="confirmModalModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}